.card-body-form {
    margin: 0 auto;
    border:none;
    border-radius: 12px;
    width:600px;
    text-align: center;
}
.btn{
    background-color: black;
}
.card-body-table {
    margin: 0 auto;
    width:600px;
}